{% extends "base_email.html" %}
{% block container %}
<div >
<div  style="width: 100%; max-width: 560px;">
	<table border="0" cellpadding="0" cellspacing="0" align="center"  style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;">
		<tr><td align="center"><h2>EMAIL DESVINCULADO</h2></td></tr>
        <tr>
			<td  style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">
				<br>
				<div  style="padding: 26px; box-shadow: 0 1px 1px rgba(0,0,0,.12),0 1px 1px rgba(0,0,0,.24); margin-bottom: 30px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background: #FFF; overflow: hidden;">
					<p>Se notifica que la cuenta de usuario del sistema de monitoreo <a href="{{ hostname }}">{{ hostname }}</a>, con nombre de usuario <b>{{ username }}</b>, ha sido desvinculado de su correo electrónico</p>
                    <p>Para mayor informacion puede comunicarse con el administrador de sistema.</p>
                </div>
			</td>
		</tr>
		<tr>
            <td  align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;"></td>
		</tr>
	</table>
</div>
</div>
{% endblock container %}

{% block footer %}
	{% include 'footer_email.html' %}
{% endblock footer %}
